@import '../../styles/mixins';

.nb-button {
    padding: 0.55rem 1.1rem;
    border-radius: var(--nb-radius);
    border: none;
    cursor: pointer;
    color: white;

    @include nb-gradient;

    transition: var(--nb-transition-base);

    &:hover {
        transform: translateY(-1px);
        @include nb-glow-hover;
    }

    &:active {
        transform: translateY(0);
    }
}
