:root {
    /* fallback (dark по умолчанию) */
    --nb-bg: #0b1220;
    --nb-surface: #0f172a;
    --nb-surface-2: #111827;

    --nb-border: rgba(255, 255, 255, 0.08);

    --nb-primary-start: #6366f1;
    --nb-primary-end: #22d3ee;

    --nb-accent: #a78bfa;

    --nb-text-primary: #e5e7eb;
    --nb-text-secondary: #94a3b8;
}

[data-theme='dark'] {
    --nb-bg: #0b1220;
    --nb-surface: #0f172a;
    --nb-surface-2: #111827;

    --nb-border: rgba(255, 255, 255, 0.08);

    --nb-text-primary: #e5e7eb;
    --nb-text-secondary: #94a3b8;
}

[data-theme='light'] {
    --nb-bg: #f8fafc;
    --nb-surface: #ffffff;
    --nb-surface-2: #f1f5f9;

    --nb-border: rgba(0, 0, 0, 0.08);

    --nb-text-primary: #0f172a;
    --nb-text-secondary: #475569;
}
