@use '../../styles/mixins' as *;

.nb-card {
    border-radius: var(--nb-radius);
    border: 1px solid var(--nb-border);

    @include nb-surface;

    transition: var(--nb-transition-base);

    &:hover {
        border-color: rgba(99, 102, 241, 0.3);
    }
}
